/* Colors */
:root {
    --color-bright-orange: hsl(31, 77%, 52%); //Bright orange
    --color-dark-cyan: hsl(184, 100%, 22%); //Dark cyan
    --color-very-dark-cyan: hsl(179, 100%, 13%); //Very dark cyan

    --color-very-pale-blue: hsla(0, 0%, 100%, 0.75); //Transparent white (paragraphs)
    --color-desaturated-blue: hsl(0, 0%, 95%); //Very light gray (background, headings, buttons)
  }