@use "../abstracts/functions" as f;

/**************************/
/* PRODUCT CARD */
/**************************/

.c-product-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: f.rem(325px);
    border-radius: 11px;
    overflow: hidden;
}

/* CARD CONTAINER*/
.c-product-card-container {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2ch;
}

/* INDIVIDUAL CARDS BACKG-COLOR*/
.c-product-card__1-3 {
    background-color: var(--color-bright-orange);
}

.c-product-card__2-3 {
    background-color: var(--color-dark-cyan);
}

.c-product-card__3-3 {
    background-color: var(--color-very-dark-cyan);
}

/* CARD ICON*/
.c-product-card__img {
    width: 5rem;
}

/* CTA Margin*/
.c-product-card__cta {
    margin-top: auto;
}

/* Product title  */
.c-product-card__title {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: f.rem(40px);
    font-weight: 700;
    color: var(--color-desaturated-blue);
}

/* Product description  */
.c-product-card__desc {
    margin-bottom: 4rem;
    color: var(--color-very-pale-blue);
}

@media (width >= 43.75em) {
    .c-product-card {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: f.rem(920px);
    }
}